Assignment1/obj/
Assignment2/obj/
Assignment3/obj/
Assignment4/obj/
Assignment5/obj/
makemat/obj/
xtraCredit/obj/
Assignment1/bin/
Assignment2/bin/
Assignment3/bin/
Assignment4/bin/
Assignment5/bin/
makemat/bin/
xtraCredit/bin/
*.out
lib/CodeBlocks/bisection/BisectionEuler/bin
lib/CodeBlocks/GaussianSolver2/GaussianSolver2/bin
lib/CodeBlocks/GaussianSolver/GaussianSolver/bin
lib/CodeBlocks/JacobiIteritive/JacobiIteritive/bin
lib/CodeBlocks/LUDecomposition/LUDecomposition/bin
lib/CodeBlocks/Matrix/Matrix/bin
lib/CodeBlocks/Power/PowerSolver/bin
lib/CodeBlocks/bisection/BisectionEuler/obj
lib/CodeBlocks/GaussianSolver2/GaussianSolver2/obj
lib/CodeBlocks/GaussianSolver/GaussianSolver/obj
lib/CodeBlocks/JacobiIteritive/JacobiIteritive/obj
lib/CodeBlocks/LUDecomposition/LUDecomposition/obj
lib/CodeBlocks/Matrix/Matrix/obj
lib/CodeBlocks/Power/PowerSolver/obj

Final/KeysE_CS417Final.zip
lib/dev/steepestdescent/bin
Final/ProvidedInputFiles/finalexam.zip
